.request-section{
  font-family:'DM Sans',sans-serif;
  background-color: rgb(246, 246, 238);
  margin: 0;
  min-height:100vh;
  overflow-x:hidden ;
}
.request-header{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.request-arrow{
  width:25px;
  margin-left:20px;
}
.request-arrow-img{
  width:100%;
}
.suggest-title{
  font-size:20px;
  margin-left:10px;
  margin-bottom:25px;
}
.request-rest{
  display:flex;
  flex-direction:column;
  margin-left:20px;
  margin-right:20px;
  position: relative;
}
.dish-name-text{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.dish-name-input{
  border-radius:15px;
  padding:15px;
  border:1px solid gray;
  font-size:18px;
}
.category-text{
  margin-bottom:2px;
  margin-top:20px;
  opacity:0.8;
  font-weight:bold;
}
.select-category-text{
  display:flex;
  padding:15px;
  background-color: white;
  border:1px solid gray;
  border-radius:15px;
  margin-top:0;
}
.category-box{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap:5px;
  right:0;
  left:0;
  opacity:1;
  max-height:0;
  padding-left:20px;
  padding-right:20px;
  overflow-y: hidden;
  position:absolute;
  top:200px;
  transition: opacity 0.5s ease,height 0.5s ease;
}
.category-option{
  background-color: rgb(233, 66, 66);
  padding:10px;
  border-radius:15px;
  color:white;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  margin:0;
}
.request-description{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.big-text-box{
  border-radius:15px;
  padding-bottom:100px;
  padding-top:20px;
  display:flex;
  border:1px solid gray;
  flex-direction: column;
  justify-content: flex-start;
  padding-left:20px;
  padding-right:60px;
  font-size:17px;
}
.big-text-box::placeholder{
  text-wrap: wrap;
}
.ingredients-text{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.ingredients-text-box{
  border-radius:15px;
  padding-bottom:50px;
  border:1px solid gray;
  font-size:16px;
  padding-left:10px;
  padding-top:10px;
}
.img-and-video{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:10px;
  gap:5px;
}
.img-upload-box{
  margin:0;
  background-color: white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius:15px;
  border:1px solid gray;
  width:100%;
}
.video-upload-box{
  margin:0;
  background-color: white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius:15px;
  border:1px solid gray;
  width:100%;
}
.add-file{
  margin-bottom:2px;
  margin-top:5px;
  opacity:0.8;
  font-weight:bold;
}
.proposal-button{
  display:flex;
  padding:20px;
  background-color: black;
  color:white;
  border-radius:15px;
  align-items: center;
  justify-content: center;
}